torch
transformers==4.39.1
pydantic==2.6.4
prometheus-client==0.20.0
fastapi==0.110.1
uvicorn==0.29.0
python-dotenv==1.0.1
faster-whisper==1.0.3
pyannote.audio==3.1.1
nltk==3.8.1
torchvision
ctranslate2==4.1.0
pandas==2.2.2
python-multipart==0.0.18
numpy==1.26.4