pip==24.0
transformers==4.38.2
datasets==2.17.1
librosa==0.10.1
evaluate==0.4.1
jiwer==3.0.3
bitsandbytes==0.43.0
accelerate==0.27.2
peft==0.9.0
python-dotenv==1.0.1
numpy==1.26.4
wandb==0.16.4
holoviews==1.18.3
panel==1.3.8
gradio==4.21.0
pytube==15.0.0
tensorflow==2.16.1
tf-keras==2.16.0
